{% extends "host_layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4" style="margin: 50px">
        <div class="card card-body">
            <form action="/create_host/{{table_name}}" method="POST">
                {% if table_name=="BUDGET_SHEET" %}
                    {% for i in range(columns|length) %}
                        <div class="form-group">
                        <label>{{columns[i]}}</label>
                        {% if "date" in columns[i]|lower %}
                        <!-- Datetime picker for date-related fields -->
                        <input type="datetime-local" name="{{columns[i]}}" value="" class="form-control" min="{{current_time}}">
                        {% elif columns[i]=="OrgID" %}
                        <input type="text" name="{{columns[i]}}" value="{{org_id}}" class="form-control" readonly>
                        {% elif columns[i]=="HostID" %}
                        <input type="text" name="{{columns[i]}}" value="{{user_id}}" class="form-control" readonly>
                        {% elif columns[i]=="HUserID" %}
                        <input type="text" name="{{columns[i]}}" value="{{user_id}}" class="form-control" readonly>
                        {% elif columns[i]=="EventID" %}
                        <input type="text" name="{{columns[i]}}" value="{{event_id}}" class="form-control" readonly>
                        {% elif columns[i]=="Status" and table_name=="REQUESTS" %}
                        <input type="text" name="{{columns[i]}}" value="Pending" class="form-control" readonly>
                        {% elif columns[i]=="Status" and table_name=="EVENT" %}
                        <input type="text" name="{{columns[i]}}" value="Scheduled" class="form-control" readonly>
                        {% else %}
                        <input type="text" name="{{columns[i]}}" value="" class="form-control">
                        {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for i in range(1, columns|length) %}
                        <div class="form-group">
                        <label>{{columns[i]}}</label>
                        {% if "date" in columns[i]|lower %}
                        <!-- Datetime picker for date-related fields -->
                        <input type="datetime-local" name="{{columns[i]}}" value="" class="form-control" min="{{current_time}}">
                        {% elif columns[i]=="OrgID" %}
                        <input type="text" name="{{columns[i]}}" value="{{org_id}}" class="form-control" readonly>
                        {% elif columns[i]=="HostID" %}
                        <input type="text" name="{{columns[i]}}" value="{{user_id}}" class="form-control" readonly>
                        {% elif columns[i]=="HUserID" %}
                        <input type="text" name="{{columns[i]}}" value="{{user_id}}" class="form-control" readonly>
                        {% elif columns[i]=="EventID" %}
                        <input type="text" name="{{columns[i]}}" value="{{event_id}}" class="form-control" readonly>
                        {% elif columns[i]=="Status" and table_name=="REQUESTS" %}
                        <input type="text" name="{{columns[i]}}" value="Pending" class="form-control" readonly>
                        {% elif columns[i]=="Status" and table_name=="EVENT" %}
                        <input type="text" name="{{columns[i]}}" value="Scheduled" class="form-control" readonly>
                        {% else %}
                        <input type="text" name="{{columns[i]}}" value="" class="form-control">
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">
                    Create
                </button>
        </div>
        </form>
    </div>
</div>

{% endblock %}