@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons/fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.mouse-wrap, .scroll-wrap {
  position: absolute;
  bottom: 50px;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .mouse-wrap.left, .scroll-wrap.left {
    left: 30px;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

.mouse {
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #212529;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 20px); }

.mouse:before, .mouse:after {
  content: "";
  display: block;
  position: absolute; }

/* Second */
.m-1:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  left: calc(50% - 3px);
  background: #212529;
  -webkit-animation: m-1-ball 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: m-1-ball 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }

@-webkit-keyframes m-1-ball {
  0%, 65%, 100% {
    opacity: 0; }
  10%, 40% {
    opacity: 1; }
  0% {
    -webkit-transform: translateY(5px) scale(0.7);
    transform: translateY(5px) scale(0.7); }
  5% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  15%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  45%, 65% {
    -webkit-transform: translateY(24px) scale(0.7);
    transform: translateY(24px) scale(0.7); } }

@keyframes m-1-ball {
  0%, 65%, 100% {
    opacity: 0; }
  10%, 40% {
    opacity: 1; }
  0% {
    -webkit-transform: translateY(5px) scale(0.7);
    transform: translateY(5px) scale(0.7); }
  5% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  15%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  45%, 65% {
    -webkit-transform: translateY(24px) scale(0.7);
    transform: translateY(24px) scale(0.7); } }

.scroll-wrap {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  bottom: 50px;
  opacity: 1;
  visibility: visible; }
  .scroll-wrap.sleep {
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

.pb_section {
  padding: 2em 0;
  position: relative;
  display: block; }
  @media (max-width: 991px) {
    .pb_section {
      padding: 4em 0; } }
  .pb_section.pb_bg-half:before {
    top: 50%;
    content: "";
    background: #f8f9fa;
    bottom: 0%;
    width: 100%;
    left: 0;
    position: absolute; }

.images {
  position: relative; }
  .images .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .images .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }
  .images.right .img1 {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
  .images.right .img2 {
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    max-width: 500px; }
    @media (max-width: 767px) {
      .images.right .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }

@media (max-width: 767px) {
  .pb_testimonial_v1 .media {
    display: block !important; } }

.pb_testimonial_v1 .media img {
  max-width: 200px; }
  @media (max-width: 767px) {
    .pb_testimonial_v1 .media img {
      margin: 0 auto 20px auto !important; } }

@media (max-width: 767px) {
  .pb_testimonial_v1 .media .media-body {
    width: 100%;
    text-align: center; } }

.pb_testimonial_v1 .media blockquote {
  font-style: italic; }
  .pb_testimonial_v1 .media blockquote p {
    color: #212529;
    font-size: 18px; }
    .pb_testimonial_v1 .media blockquote p cite {
      display: block;
      font-size: 1rem;
      font-style: normal; }
    .pb_testimonial_v1 .media blockquote p.pb_author {
      font-style: normal;
      color: #868e96; }

  .pb_footer .list-unstyled li {
    line-height: 1.5; }
  .pb_footer.bg-black {
    background: #000; }

.pb_card_v1 {
  border: none; }
  .pb_card_v1 .card-subtitle {
    color: #868e96; }
  .pb_card_v1 .card-img-top {
    margin-top: 30px; }

.pb_card_v2 .icon i:before {
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: #868e96; }

.pb_card_v2 .card-body {
  padding-top: 0; }
  .pb_card_v2 .card-body h4 {
    margin-top: 0;
    font-size: 16px; }

.pb_hover-zoom {
  position: relative;
  display: block;
  overflow: hidden; }
  .pb_hover-zoom img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .pb_hover-zoom:before {
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden; }
  .pb_hover-zoom .icon {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    color: #fff !important;
    z-index: 1;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out; }
  .pb_hover-zoom:hover {
    outline: none; }
    .pb_hover-zoom:hover .icon {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }
    .pb_hover-zoom:hover:before {
      opacity: 1;
      visibility: visible; }
    .pb_hover-zoom:hover img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

.pb_half {
  width: 50%;
  float: left; }
  @media (max-width: 991px) {
    .pb_half {
      width: 100%;
      float: none; }
      .pb_half#map {
        height: 300px; } }

.pb_accordion .item > a {
  display: block;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
  position: relative;
  color: #495057; }
  .pb_accordion .item > a:after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f2c7"; }
  .pb_accordion .item > a[aria-expanded="true"] {
    color: #ed8323;
    border-bottom: 1px solid transparent; }
    .pb_accordion .item > a[aria-expanded="true"]:after {
      content: "\f2f4"; }

.pb_accordion .item > div *:last-child {
  margin-bottom: 0; }

.pb_contact_details_v1 {
  margin: 0;
  padding: 0; }
  .pb_contact_details_v1 li {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
    color: #212529; }
    .pb_contact_details_v1 li span {
      display: block;
      font-size: 14px;
      color: #adb5bd; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000; }
  @media (max-width: 767px) {
    .slick-arrow {
      display: none !important; } }
  .slick-arrow.prev {
    left: 20px; }
  .slick-arrow.next {
    right: 20px; }
  .slick-arrow i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.slick-dots {
  position: absolute;
  bottom: -40px;
  z-index: 1;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      position: relative; }
      .slick-dots li button:before {
        width: 7px;
        height: 7px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          background: rgba(0, 0, 0, 0.7); }
    .slick-dots li.slick-active button:before {
      background: rgba(0, 0, 0, 0.7); }

.pb_media_v1 > .icon,
.pb_media_v2 > .icon {
  width: 80px;
  height: 80px;
  position: relative; }
  .pb_media_v1 > .icon i,
  .pb_media_v2 > .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    .pb_media_v1 > .icon i.flaticon,
    .pb_media_v2 > .icon i.flaticon {
      top: 48%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      .pb_media_v1 > .icon i.flaticon:before,
      .pb_media_v2 > .icon i.flaticon:before {
        font-size: 46px;
        margin: 0;
        padding: 0; }

.pb_media_v1 h3,
.pb_media_v2 h3 {
  color: #212529; }

.pb_icon_v1 i.flaticon:before {
  font-size: 80px;
  margin: 0;
  padding: 0; }

.pb_slide_v1 .link-block {
  display: block;
  position: relative;
  color: #A5E9DB; }
  .pb_slide_v1 .link-block:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05); }
  .pb_slide_v1 .link-block .slide-text {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 20px; }
    .pb_slide_v1 .link-block .slide-text h2 {
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 0; }
    .pb_slide_v1 .link-block .slide-text *:last-child {
      margin-bottom: 0; }

.pb_slide_v2 .slick-slide {
  padding: 10px;
  position: relative; }

.pb_slide_v2.slider-nav .slick-slide {
  margin: 10px;
  padding: 0;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  border: 2px solid transparent; }
  .pb_slide_v2.slider-nav .slick-slide .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .icon i:before {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    color: #00CA4C; }

.pb_slide_v2 .slide_content {
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
  @media (max-width: 991px) {
    .pb_slide_v2 .slide_content > .pb_content-media {
      height: 350px; } }
  .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
    width: 50%; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
        width: 100%; } }
  .pb_slide_v2 .slide_content .slide_content-text {
    padding: 50px; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content .slide_content-text {
        padding: 20px; } }

@media (max-width: 991px) {
  .pb_slide_v2 .slick-arrow {
    display: none; } }

.pb_slide_v2 .slick-arrow.prev {
  left: -50px; }

.pb_slide_v2 .slick-arrow.next {
  right: -50px; }

.overflow-hidden {
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */